@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: 210 23% 95%;
	--text: 220 55% 10%;
}

body {
	color: hsl(var(--text));
	background: hsl(var(--background));
	font-family: Arial, Helvetica, sans-serif;
}
